body,html{
    width: 100%;
    height: 100%;
}

.index{
    background-color: blue;
    display:flex;
    justify-content: center;
    align-items: center;
}

.name{
    text-align: center;
}

.navbar{
    display:inline;
}

.blog{
    text-align: center;
    font-size: 48px;
}

.byline{
  font-size: 10px;
  line-height: 1.6em;
}

.article {
  font-size: 15px;
  line-height: 1.6em;
  margin-top: 50px;
  margin-bottom: 50px;
}

.article h2 {
    font-size: 26px;
    padding-bottom: 1rem;
    padding-top: 1em;
  }