body,html{
    width: 100%;
    height: 100%;
    background-color: rgb(18,18,26);
}

.index{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.name{
    text-align: center;
    font-size: 100px;
}

nav{
    text-align: center;
}

.navbar{
    font-size: 20px;
    display:inline;
    margin-left: 60px;
}

.blog{
    background-color: azure;
}

.blogheader{
    font-size: 50px;
    height:400px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    font-size: 30px;
}

img{
    display:block;
    margin:auto;
}

.byline{
  font-size: 10px;
  line-height: 1.6em;
  display:inline;
}

article {
  font-size: 15px;
  line-height: 1.6em;
  margin: 100px 400px;
}

article h2 {
    font-size: 26px;
    padding-bottom: 1rem;
    padding-top: 1em;
  }
