body,html{
    width: 100%;
    height: 100%;
}

.index{
    background-color: blue;
    display:flex;
    justify-content: center;
    align-items: center;
}

.name{
    text-align: center;
}

.navbar{
    display:inline;
}

.blog{
    text-align: center;
    font-size: 48px;
}

article{
}